.movie-card {
  border: 3px solid #e5e6f0ff;
  border-radius: 20px;
  width: 250px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.movie-poster {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 14px;
}
