name: React CI + CD (GitHub Pages)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # Checkout the repository
      - uses: actions/checkout@v3

      # Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install dependencies
      - name: Install dependencies
        working-directory: my-app
        run: npm install

      # Run tests
      - name: Run tests
        working-directory: my-app
        run: npm test -- --watchAll=false

      # Build the React app
      - name: Build
        working-directory: my-app
        run: npm run build

      # Add 404.html to fix GitHub Pages 404 issue
      - name: Add 404.html for GitHub Pages
        run: cp my-app/build/index.html my-app/build/404.html

      # Set Git identity
      - name: Set Git identity
        run: |
          git config --global user.name "Nusrath Jahan"
          git config --global user.email "nusrathjahan0204@gmail.com"

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: my-app/build
